.wrapper {
    min-height: 9vh;
    /*border: 1px solid #000000;*/
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.iconsCorner {
    margin-left: 1vh;
    margin-top: 1vh;
    /*border: 1px solid #000000;*/
}
.mvasLogo{
    height: 70px;
}
.geoscanLogo{
    margin-left: 1vw;
    height: 70px;
}
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: space-around;
    margin-right: 20vw;
    margin-top: 3vh;
    margin-left: 4vw;
    font-size: 22px;
    font-weight: 300;
}
.mainTimer {
    margin-left: 3vw;
    font-size: 22px;
    font-weight: 400;
}
.progressBar {
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 20vw;
    /*width: 50vw;*/
}