.appWrapper {
    padding-bottom: 50px;
}

.header {
    position: fixed;
    background-color: white;
    z-index: 10;
    box-shadow: 0 5px 20px #888888;
}

.pageWrapper {
    padding-top: 100px;
}

.NotificationsWrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
}
