[Unit]
Description=Node.js for Feecc frontend

[Service]
Environment=NODE_PORT=8080
Type=forking
OOMScoreAdjust=-100
ExecStart=/usr/bin/node ~/Documents/Dev/MVAS_2/feecc-hub-frontend/nodeServer.js
Restart=on-failure
