.contentWrapper {

}

.contentHeader {
    font-size: 2.5rem;
}

.contentText {
    padding-top: 20px;
    font-size: 1.5rem;
}

.buttonsWrapper {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}