:root {
  --primary: #5F2EEA;
  --blue1: #1C3FAC;
  --blue2: #3553AD;
  --blue3: #3E6BEC;
  --red1: #EF4949;
  --red2: #FA5A5A;
  --error1: #F85F9F;
  --error2: #C30052;
  --success1: #00BA88;
  --success2: #00966D;
  --text: #1B1B1B;
  --subtext: #1B1B1B;
  --dark: #000;
  --subtitle1: #383838;
  --smalltext: #262626;
  --subtitle3: #888888;
  --warning: #FF7A00;
  --white: #FBFDFF;
  --outline: #E8EFF4;
  --panel: #F6F7F8;
  --neutral-dark: #223263;
  --purple: #8C30F5;
  --turquoise: #75E3EA;
  --orange: #FFC278;
  --light: #8C97AC;
  --border-input: #CACFD8;
  --button-lightblue: #3553ad3f;
  --blue1Opacity: #1c40ac46;
  --gradient: linear-gradient(225.4deg, #0730C5 0%, #FF3F86 51.18%, #FA3E88 68.25%, #7A2C9E 93.59%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

hr {
  border-style: solid;
}

button {
  cursor: pointer;
}

//*:focus {
//  outline: none;
//}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.activeModal {
  overflow: hidden;
}

.fadeIn {
  opacity: 1;
  transition: .6s;
  transform: translateY(0px) !important;
  transform: translateX(0px) !important;
}
.fadeOut {
  transition: .6s;
  opacity: 0;
  transform: translateY(-60px) !important;
}

.fadeOutLeft {
  opacity: 0;
  transition: .6s;
  transform: translateX(-100px) !important;
}
.fadeOutRight {
  opacity: 0;
  transition: .6s;
  transform: translateX(100px) !important;
}
